<div class="outer-container">
    <h1>Welcome To Angular Tutorial</h1>
</div>

<!-- <div class="inner-container">
  <app-skill></app-skill>
  <app-employeeform></app-employeeform>
  <app-tourist-spots></app-tourist-spots>
</div> -->

<!-- <div>
  <h4>
    | <a routerLink="/home">Home</a> |
    <a routerLink="/studentDetail">Stuent Details</a> |
    <a routerLink="/productCatalog">productCatalog</a> |
    <a routerLink="/bookDetail">Book Details</a> |
    <a routerLink="/contactform">ContactTemplateForm</a> |
    <a routerLink="/reactiveform">ContactReactiveForm</a> |
    <a routerLink="/salesrep">SalesRepresentative</a> |
    <a routerLink="/empdetails">EmployeeDetails</a> |
  </h4>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Routing</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        <a class="nav-link" routerLink="/studentDetail">Stuent Details</a>
        <a class="nav-link" routerLink="/productCatalog">productCatalog</a>
        <a class="nav-link" routerLink="/bookDetail">Book Details</a>
        <a class="nav-link" routerLink="/bookAuthor">Book Author</a>
        <a class="nav-link" routerLink="/contactform">ContactTemplateForm</a>
        <a class="nav-link" routerLink="/reactiveform">ContactReactiveForm</a>
        <a class="nav-link" routerLink="/salesrep">SalesRepresentative</a>
        <a class="nav-link" routerLink="/empdetails">EmployeeDetails</a>
      </div>
    </div>
  </div>
</nav>
<div class="">
  <router-outlet></router-outlet>
</div>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Routing</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        <a class="nav-link" routerLink="/viewallcources">View All Cources</a>
        <a class="nav-link" routerLink="/registration">Registration</a>
        <a class="nav-link" routerLink="/participant">Participant</a>
        <a class="nav-link" routerLink="/aboutus">About Us</a>
      </div>
    </div>
  </div>
</nav> -->



<!--
<div class="inner-container">
  <app-home></app-home> <br><br>
  <app-student></app-student> 
</div>

<div class="product-detail">
  <app-product></app-product> <br><br>
  <app-book></app-book> 
</div>

<div class="form-concept">
  <app-contactform></app-contactform> <br><br>
  <app-reactiveform></app-reactiveform> <br> <br>
  <app-book-author></app-book-author> 
</div>

<div class="parent-child">
  <app-parent></app-parent> <br><br>
  <app-sales-rep></app-sales-rep>
  <app-employeelist></app-employeelist>
</div>
-->





