.prod-container{
   background-color:blanchedalmond;
   margin-left: 100px;
   margin-right: 100px;
}

.class-first{
   background-color: black;
   color: blueviolet;
}

.class-second{
   background-color:chocolate;
   color: aqua;
}