h1{
    background-color: blueviolet;
    color: whitesmoke;
    text-decoration: underline;
}

.stu-container{
    background-color: whitesmoke;
    text-align: center;
    text-decoration: solid;
    height: auto;
    width: auto;
    margin-left: 150px;
    margin-right: 150px;
}